<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TRTS</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  <head>
  <body>
    <div class="wrapper">
      <header>
        <h1>TRTS Header</h1>
      </header>
      <article class="main">
        <h2>Current data:</h2>
        <p>Wind:</p>
        <p>Heading:</p>
        <p>Position:</p>
      </article>
      <article class="history">
        <h2>History</h2>
        <p>...</p>
      </article>
    </div>
  </body>
</html>
