<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>TRTS</title>
    <link rel="stylesheet" href="css/styles.css">
  <head>
  <body>
    <div class="wrapper">
      <header>
        <h1>TRTS Header</h1>
      </header>
      <article class="main">
        <h2>Current data:</h2>
        <p>Wind: </p><p th:text="${wind}"></p>
        <p>Heading:</p>
        <p>Position:</p>
      </article>
      <article class="history">
        <h2>History</h2>
        <p><a href="log">Log</a></p>
      </article>
    </div>
  </body>
</html>
