<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Waypoint</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="wrapper">
    <header>
        <a class="header_link" href="/"><img src="../static/images/STS.png" th:src="@{images/STS.png}" width="700" height="230"/></a>
    </header>
    <article class="main-log">
        <h2>Waypoints</h2>
        <section>
            <ul class="waypoint-list">
                <li class="waypoint-li" th:each="waypoint : ${waypoints}">
                    <p>
                        Latitude: <span th:text="${waypoint.latitude}"></span>
                        Longitude: <span th:text="${waypoint.longitude}"></span>
                        Radius: <span th:text="${waypoint.radius}"></span>
                    </p>
                </li>
            </ul>
        </section>
    </article>
    <aside class="aside aside-1">
        <h2>Add waypoint</h2>
        <form action="#" th:action="@{/addWaypointLastInList}">
            <p>Lat: <input name="latitude" type="number" /></p>
            <p>Lon: <input name="longitude" type="number" /></p>
            <p>Rad: <input name="radius" type="number" /></p>
            <button type="submit">Add</button>
        </form>
    </aside>
    <aside class="aside aside-2">
    </aside>
</div>
</body>
</html>